.main{
  display: flex;
  flex-direction: column;
  align-self: stretch;
  background: #f8f8f8;
}

@media all and (min-width: 769px){
  .main{
    flex-direction: row;
  }
}

.resultsList{
  max-height: 600px;
  overflow-y: scroll;
  margin: .5rem 0 0;
}